CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: OD2 CG OD1
 TEMPLATE:: ATOM_MAP: 1 residue3: ASP

 TEMPLATE:: ATOM_MAP: 2 atom_name: ND1 CE1 NE2
 TEMPLATE:: ATOM_MAP: 2 residue3: HIS

 CONSTRAINT:: distanceAB: 2.6 0.2 100. 0 0
 CONSTRAINT:: angle_A: 123.7 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 117.2 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -1.613 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -145.997 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: 173.449 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END

CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CE1 ND1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS

 TEMPLATE:: ATOM_MAP: 2 atom_name: OG CB CA
 TEMPLATE:: ATOM_MAP: 2 residue3: SER

 CONSTRAINT:: distanceAB: 3.3 0.2 100. 0 0
 CONSTRAINT:: angle_A: 85 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 90.7 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -171.233 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: 90.913 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -179.139 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: OG CA CB
 TEMPLATE:: ATOM_MAP: 1 residue3: SER

 TEMPLATE:: ATOM_MAP: 2 atom_name: C CA O
 TEMPLATE:: ATOM_MAP: 2 residue1: ARNDCEQGHILKMFPSTWYV

 CONSTRAINT:: distanceAB: 2.4 0.2 100. 1 0
 CONSTRAINT:: angle_A: 118.1 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 85.9 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -92.504 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB:  -131.950 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 89.903 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CD2 CE1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS
 TEMPLATE:: ATOM_MAP: 2 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 2 residue1: ARNDCEQGHILKMFPSTWYV 

CONSTRAINT:: distanceAB: 2.6 10 0.2 100. 1 0
 CONSTRAINT:: angle_A: 110.5 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 98.6 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -168.937 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -67.614 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 107.432 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END
CST::END
