$ cat .gitignore

*.json

/boot_camp/*
/diversity_committee/*

/esterase_collaboration/*
!/esterase_collaboration/*.pdb
!/esterase_collaboration/*.pml
!/esterase_collaboration/*.params
!/esterase_collaboration/*.pse
!/esterase_collaboration/*.cst
!/esterase_collaboration/*.txt

/fibrils_collaboration/*.pptx
/fibrils_collaboration/design_simulations/*
!/fibrils_collaboration/design_simulations/*.py
!/fibrils_collaboration/design_simulations/*.txt
/fibrils_collaboration/FoldIt/images/*
/fibrils_collaboration/grant_draft.docx
/fibrils_collaboration/design_htra1_orig/*
/fibrils_collaboration/ehrmann/*
!/fibrils_collaboration/ehrmann/*.fasta
!/fibrils_collaboration/ehrmann/*.py
!/fibrils_collaboration/ehrmann/*.txt
!/fibrils_collaboration/ehrmann/ms_tau_only/MS_output.xlsx
/fibrils_collaboration/ext_cat_flexpep/*
/fibrils_collaboration/ext_cat_tau_slide/*
/fibrils_collaboration/htra1_asyn_design/*
/fibrils_collaboration/notes/*
/fibrils_collaboration/papers/*
/fibrils_collaboration/relax_simulations/*
!/fibrils_collaboration/relax_simulations/*.py
!/fibrils_collaboration/relax_simulations/*.txt
!/fibrils_collaboration/relax_simulations/*.xml
/fibrils_collaboration/scan_simulations/*
!/fibrils_collaboration/scan_simulations/*.py

/images/*
/lab_results/*

/loop_swap_protocol/calibrate_CCDEndsGraftMover/*
/loop_swap_protocol/dali_data/*
/loop_swap_protocol/images/*
/loop_swap_protocol/Manning-Deep-Learning-with-Python-final.pdf
/loop_swap_protocol/serine_proteases/*/
/loop_swap_protocol/serine_proteases/view_all.pse

/machine_learning/full_set/*
/machine_learning/*.csv
/machine_learning/interaction_graph_summary.txt

/MaxQuant/*
/meetings/*
/old_rosetta/*
/ordering/*
/onboarding_committee/*
/other_misc/*
/paper_review/*
/presentations/*

/protease_design/early_scripts/*
!/protease_design/early_scripts/*.py
!/protease_design/early_scripts/*.pl
!/protease_design/early_scripts/*.pml

/protease_design/lab_results
/protease_design/ml_training
/protease_design/papers

/protease_design/primer_sequences/*
!/protease_design/primer_sequences/hcv.fasta
!/protease_design/primer_sequences/made_g-blocks.py
!/protease_design/primer_sequences/Selections.xlsx
/protease_design/simulation_results
protease_design/*.xls*
!/protease_design/expt_seqs.xlsx
protease_design/*.gcproj

/protocols/*
/pyrosetta*/*
/PyRosetta.notebooks-master/*
/python_class/*
/rosetta*/*
/SACNAS/*
/STEMcosR/*
/software_CCDC/*
/tools-master/*

/uck2_collaboration/early_files/*
/uck2_collaboration/images/*
/uck2_collaboration/ligands/mol2/*
/uck2_collaboration/params/original/*
/uck2_collaboration/params/pdbs/*
/uck2_collaboration/simulation_results/*.tar.gz
/uck2_collaboration/simulation_results/designing_enzyme/design_round_2/*.fasc
/uck2_collaboration/simulation_results/designing_enzyme/design_round_2/*.pdb.gz
/uck2_collaboration/simulation_results/designing_enzyme/design_round_2/*.pkl_
/uck2_collaboration/simulation_results/designing_enzyme/design_round_2/*.csv
/uck2_collaboration/simulation_results/designing_enzyme/extra_early_designs/*
/uck2_collaboration/simulation_results/designing_enzyme/round_1/*/*
/uck2_collaboration/simulation_results/mutant_sensitivity/*.fasc
/uck2_collaboration/simulation_results/mutant_sensitivity/*.pdb.gz

/UMSAP/*



