CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 1 residue3: ILE

 TEMPLATE:: ATOM_MAP: 2 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.9 0.3 100. 0 0
 CONSTRAINT:: angle_A: 120 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 160 15.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 55 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: 40 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -80 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 1 residue3: ILE

 TEMPLATE:: ATOM_MAP: 2 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.9 0.3 100. 0 0
 CONSTRAINT:: angle_A: 160 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 120 15.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 30 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -60 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 45 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 1 residue3: MET

 TEMPLATE:: ATOM_MAP: 2 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.9 0.3 100. 0 0
 CONSTRAINT:: angle_A: 120 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 160 15.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 35 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -30 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 0 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 1 residue3: MET

 TEMPLATE:: ATOM_MAP: 2 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.9 0.3 100. 0 0
 CONSTRAINT:: angle_A: 160 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 120 15.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 60 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -125 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 75 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 1 residue3: GLY

 TEMPLATE:: ATOM_MAP: 2 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.9 0.3 100. 0 0
 CONSTRAINT:: angle_A: 100 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 115 15.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -70 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -155 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 180 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 1 residue3: ILE

 TEMPLATE:: ATOM_MAP: 2 atom_name: OXT C CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.9 0.3 100. 0 0
 CONSTRAINT:: angle_A: 120 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 120 15.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 55 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -30 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 170 20.0 10.0 360.0 1
CST::END