CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: OD1 CG CB
 TEMPLATE:: ATOM_MAP: 1 residue3: ASP

 TEMPLATE:: ATOM_MAP: 2 atom_name: ND1 CE1 NE2
 TEMPLATE:: ATOM_MAP: 2 residue3: HIS

 CONSTRAINT:: distanceAB: 2.4 0.2 100. 0 0
 CONSTRAINT:: angle_A: 120 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 120 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 135 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -90 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: -180 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CE1 ND1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS

 TEMPLATE:: ATOM_MAP: 2 atom_name: CB CA N
 TEMPLATE:: ATOM_MAP: 2 residue1: AS

 CONSTRAINT:: distanceAB: 3.2 0.2 100. 0 0
 CONSTRAINT:: angle_A: 120 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 135 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -155 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: 0 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -150 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: CB CA N
 TEMPLATE:: ATOM_MAP: 1 residue1: AS

 TEMPLATE:: ATOM_MAP: 2 atom_name: C CA N
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY

 CONSTRAINT:: distanceAB: 2.7 0.2 100. 1 0
 CONSTRAINT:: angle_A: 120 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 120 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -50 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB:  -50 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -80 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CE1 ND1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS

 TEMPLATE:: ATOM_MAP: 2 atom_name: C CA N
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 3.7 0.3 100. 1 0
 CONSTRAINT:: angle_A: 140 20.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 100 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 150 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB:  -40 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -10 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 1 residue1: AGNS

 TEMPLATE:: ATOM_MAP: 2 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.7 0.3 100. 0 0
 CONSTRAINT:: angle_A: 110 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 140 15.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 1 residue1: AGNS

 TEMPLATE:: ATOM_MAP: 2 atom_name: O C CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY 

 CONSTRAINT:: distanceAB: 2.7 0.3 100. 0 0
 CONSTRAINT:: angle_A: 110 15.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 140 15.0 10.0 360.0 1
CST::END